.container {
  position: absolute;
  display: flex;
  top: 35px;
  /* left: 50%; */
  /* margin-left: -50px; */
  z-index: 2;
  /* height: 95px; */
  width: 100vw;
  justify-content: center;
}

.exiImg {
  height: 110px;
  width: 110px;
  margin-right: -16px;
  margin-top: -8px;
}

.subContainer {
  width: 90%;
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .subContainer {
    justify-content: center;
  }
}