.container {
  display: flex;
  z-index: 2;
  justify-content: center;
  width: 95%;
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 20px;
  padding: 0px 20px;
}

.exiContainer {
  flex: 0.13;
  display: flex;
  justify-content: center;
  margin-top: 3px;
}

.exiImg {
  height: 110px;
  width: 110px;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 0.45;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .subContainer {
    justify-content: center;
  }
}
